<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Examples</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <script src="https://codefriendsdev.github.io/frameworks/enchant.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/plugins/ui.enchant.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/plugins/widget.enchant.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/prototype/prototype.widget.enchant.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/prototype/prototype.enchant.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/prototype/prototype.ui.enchant.js"></script>
        <script src="https://yoshitoimai.github.io/plugin.enchant.js/src/plugin/ex.enchant.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/plugins/box2dweb/Box2d.min.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/plugins/box2d.enchant.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/plugins/gamepad.enchant.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/common.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/friendseditor.js"></script>
        <script src="https://codefriendsdev.github.io/frameworks/common.GameManager.js"></script>
        <script src="main.js"></script>
    </head>
    <body>
    </body>
</html>